body {
    font-family: 'Lato', sans-serif;
}
a{
    color: #2e2e2e;
    text-decoration: none;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4.5rem;
}
.nav-title{
    color: #2e2e2e;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 64px;
    padding: 1rem 0 0 1rem;
}
.banner {
    background-color: #fad0dd;
    /* background: url('./img/banner.jpg') no-repeat center / cover; */
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
}
.banner-description {
    color: #2e2e2e;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 15px;
    text-transform: capitalize;
}
.banner-box{
    display: flex;
    justify-content: space-between;
}
.banner-title {
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
    width: 50%;
}
.banner-img{
    max-width: 250px;
    position: absolute;
    right: 45%;
    top: 10%;
}
.banner-button {
    box-sizing: border-box;
    background-color: rgb(188, 255, 233);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 1rem;
    padding: .85rem;
    text-align: center;
    text-transform: capitalize;
    width: 12rem;
}

.servicos, .contacto {
    background-color: rgb(243, 241, 237);
    height: max-content;
}

.servicos-title,
.servicos-subtitle, .contacto-title {
    color: #2e2e2e;
    font-size: 2rem;
    padding-top: 1.2rem;
    text-align: center;
}

.servicos-subtitle {
    font-size: 2rem;
}

.servicos-itens {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 2rem;
}

.servicos-itens-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 30%;
}

.servicos-itens-image {
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
}

.servico-name {
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 20px;
}

.servico-description{
    color: #2e2e2e;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: .75rem;
    text-align: justify;
    text-transform: lowercase;
    width: 15rem;
}
.button{
    padding-bottom: 1rem;
}
.servicos-button{
    box-sizing: border-box;
    background-color: rgb(188, 255, 233);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    width: 10rem;
}

.essencia {
    padding-top: 30px;
}

.essencia-flex {
    display: flex;
}

.essencia-img {
    height: 25rem;
    margin: 15px 30px;
    width: 30rem;
}

.essencia-textbox {
    padding: 0 0 1rem 5rem;
}

.textbox-title {
    color: dimgrey;
    font-size: 1.8rem;
    padding-bottom: 20px;
    text-transform: lowercase;
}

.textbox-subtitle {
    color: #2e2e2e;
    font-size: 2rem;
    padding-bottom: 30px;
}

.textbox-quote {
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 16px;
    margin: 16px 0;
}

.textbox-descript {
    font-size: 1.35rem;
    line-height: 1.5rem;
    padding-right: 30px;
    padding-top: 40px;
    text-align: justify;
}

.textbox-button {
    box-sizing: border-box;
    background-color: rgb(188, 255, 233);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25rem;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    width: 10rem;
}
.servicos-button:hover, .textbox-button:hover, .banner-button:hover, .nav-button:hover, .contacto-button:hover{
    background-color: #1E90FF;
    color: white;
}
#whatsapp-form{
    padding: 30px 0;
    text-align: justify;
    padding-left: 10rem;
    display: flex;
    flex-direction: column;
}
#whatsapp-form, label{
    font-size: 1.25rem!important ;
    padding-bottom: 1rem;
}
#whatsapp-form, input{
    max-width: fit-content;
}
#message{
    height: 220px;
    width: 420px;
}
.contacto-button{
    box-sizing: border-box;
    background-color: rgb(188, 255, 233);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    width: 6rem;
}
.rodape{
    background-color: #fad0dd;
    height: 180px;
}
.rodape-title{
    color: #2e2e2e;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding: 1rem 0 0 1rem;   
}
.rodape-info{
    display: flex;
    justify-content: space-between;
}
.rodape-lista{
    padding-left: 1rem;
    padding-top: 1.5rem;
}
.rodape-info-item{
    align-items: center;
    display: flex;
    margin-bottom: .5rem;
}
.rodape-item-img{
    height: 25px;
    margin-right: .5rem;
    width: 25px;
}
.rodape-local-info{
    padding-top: 3rem;
    padding-right: 2rem;
    text-align: right;
}
.info-mobile{
    display: none;
}
#whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
}
.icone{
    width: 60px;
    height: 60px;
}
/* Estilos para pequenos notebooks */
@media only screen and (max-width: 1024px) {
    body {
        width: 1024px;
    }

    .banner-title {
        font-size: 2.5rem;
        line-height: 2.25rem;
    }
    .banner-img{
        max-width: 240px;
        position: absolute;
        right: 35%;
        top: 7%;
    }
}
/* Estilos para tablets */

@media only screen and (max-width: 768px) {
    body {
        width: 768px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-img{
        max-width: 190px;
        position: absolute;
        right: 34%;
        top: 13%;
    }
    .essencia-flex{
        align-items: center;
    }
    .essencia-img {
        height: 20rem;
        margin: 15px 30px;
        width: 20rem;
    }
    .servicos,
    .essencia, .contacto {
        height: fit-content;
        padding-bottom: 40px;
    }

    .servicos-itens {
        flex-flow: row wrap;
        justify-content: space-around;
        padding-bottom: 1rem;
    }
    
    .servicos-itens-details{
        padding-top: 1.8rem;
        width: 50%;
    }
}

/* Estilos para smartphones */

@media only screen and (max-width: 425px) {
    body {
        width: 480px;
    }

    .banner-title {
        font-size: 20px;
        line-height: 1.75rem;
    }
    .banner-img{
        max-width: 150px;
        position: absolute;
        right: 15%;
        top: 16%;
    }
    .servicos-button, .textbox-button, .banner-button, .nav-button{
        font-size: 15px;
        width: 8rem;
    }

    .servicos,
    .essencia, .contacto{
        height: fit-content;
        padding-bottom: 40px;
    }
    .servicos-subtitle{
        padding: 1rem;
    }
    .servicos-itens {
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .servicos-itens-details{
        padding-top: 1.8rem;
        width: 100%;
    }
    .servicos-itens-image {
        height: 10rem;
        width: 10rem;
    }
    .essencia-flex{
        padding-right: 4rem;
    }
    .essencia-textbox {
        padding: 0 0 1rem 3rem;
    }
    .essencia-img {
        display: none;
    }
    .textbox-descript{
        padding-right: 0;
    }
    #whatsapp-form{
        padding-left: 7rem;
    }
    #message{
        height: 150px;
        width: 300px;
    }
    .rodape{
        height: 250px;
    }
    .info-mobile{
        display: flex;
    }
    .rodape-local-info{
        display: none;
    }
    #rodape-item-text{
        padding: 0.5rem 0 0 2rem;
    }
}
@media screen and (max-width: 424px){
    .banner-img{
        display: none;
    }
}
